.weather-card__container {
    margin: 1rem 0;
    border-radius: 5px;
    width: 100%;
}

.section01,
.section02 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    color: white;
}

.section01 {
    border-radius: 5px 5px 0 0;
    background-image: url(./../assets/cloud_bg.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    align-items: start;
}

.section02 {
    background-color: #383b47;
    border-radius: 0 0 5px 5px;
    padding: 0 1rem;
}

.section01>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.section01>div:nth-child(1)>* {
    padding: 10px;
    text-align: center;
}

.section01>div:nth-child(1)>h2 {
    padding: 0;
    font-size: 1.5rem;
}

.section02>div {
    padding: 1rem;
}

.section02>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section02>div:nth-child(2)>img {
    margin: 10px 0;
    height: 1.6rem;
    width: 1.6rem;
}

.section02>div:nth-child(2) {
    border-left: 1.5px solid grey;
    border-right: 1.5px solid grey;
    text-align: center;
}

.section02>div:nth-child(3) {
    text-align: right;
}

div.weather-status {
    display: flex;
    align-items: center;
}

div.weather-status>img {
    height: 2.5rem;
    width: 2.5rem;
}

.section02 span {
    font-weight: bold;
}

#temperature>h2 {
    font-size: 3rem;
}

#temperature>p {
    padding: 5px;
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
    .weather-card__container {
        width: 48%;
    }

    .section02 {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .section02>div {
        padding: 0.5rem;
    }

    .section02>div>* {
        padding: 2px 0;
    }
}

/* For Laptops */
@media (min-width: 992px) {
    .weather-card__container {
        width: 48%;
    }

    .section02 {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .section02>div {
        padding: 0.5rem;
    }

    .section02>div>* {
        padding: 2px 0;
    }
}