.view-weather-card__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

/* For Medium Mobile Phones */
@media (min-width: 576px) {
    .view-weather-card__container {
        width: 100%;
    }

}

/* For Tablets & Laptops */
@media (min-width: 768px) {
    .view-weather-card__container {
        width: 70%;
    }
}

/* For Laptops */
@media (min-width: 992px) {
    .view-weather-card__container {
        width: 70%;
    }

}

/* For Large screens */
@media (min-width: 1200px) {}